.info-basic {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 10px;
}
ul.list-title {
    list-style-type: none;
}
ul.list-title li {
    background-color: #e8e9dd;
    color: #969696;
    padding: 5px 10px 5px 20px;
    cursor: pointer;

}
ul.list-title li:hover {
    background-color: #969696;
    color: white;
}
ul.list-title li a {
    text-decoration: none;
    color: gray;
}
ul.list-title li:hover a {
    color: white;
}
.button-update {
    border-radius: 0px;
    padding: 3px 10px;
}

.avatar {
    border-radius: 50%;
}